<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="scripts/home.ts"></script>
    <title>Image Viewer</title>
  </head>
  <body>
    <button onclick="analyzeImg()">Enviar</button>
  </body>
</html>
